aiofiles==0.7.0
aiomysql==0.0.21
aioredis==2.0.0
aiosqlite==0.17.0
asgiref==3.4.1
async-timeout==3.0.1
click==8.0.3
colorama==0.4.4
h11==0.12.0
httptools==0.3.0
importlib-metadata==4.8.1
iso8601==0.1.16
multidict==5.2.0
PyMySQL==0.9.3
pypika-tortoise==0.1.1
pytz==2021.3
sanic==21.9.1
sanic-routing==0.7.1
tortoise-orm==0.17.8
typing-extensions==3.10.0.2
uvicorn==0.15.0
websockets==10.0
zipp==3.6.0
